@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: "Montserrat", sans-serif;
}
#index img{
    height: 400px;
}
#index img:hover{
    height: 410px;
}
.index-1 p{
    color: white;
}
.cohete{
    height: 410px;
}
.nav-item a{
    color: black
    
}
.nav-item .active {
    border-radius: 40px;
    border: 1px solid black;
}
#contacto {
    background-image: url('../images/fondo-contacto-guido.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
}
#proyectos, #index{
    background-image: url('../images/fondo-proyectos-guido.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.proyecto {
    border-color: black;

}
.proyecto p{
    color: white;
    font-size: 14px;
    height: 20px;
}
.proyecto img{
    height: 200px;
}
.proyecto h2{
    font-size: 18px;
    color: black;
    text-transform: uppercase;
}
h1{
    color: rgb(165, 31, 158);
    font-size: 40px;
}
.btn-enviar, .btn-info, .btn-index, .btn-cv {
    --bs-btn-color: white;
    --bs-btn-border-radius: 20px;
    --bs-btn-border-color: black;
    --bs-btn-bg: black;
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: white;
    --bs-btn-hover-border-color: white;
}
.nav-item {
    list-style: none;
}
footer a{
    color: black;
}

footer .fa-github{
    font-size: 38px;
    height: 40px;
}
footer .fa-linkedin-in{
    font-size: 28px;
    background-color: white;
    border-radius: 22px;
    padding: 8px 8px 4px 8px;
    margin-left: 10px;
}
footer .fa-whatsapp {
    color: white;
    position: fixed;
    right: 20px;
    bottom: 0px;
    font-size: 31px;
    background-color: green;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
@media (max-width: 750px) {

    /* Para mobile */
    #contacto {
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
    }
    #inicio,#proyectos {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;
    }
}